@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rokkitt:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: rokkitt, sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: RGBA(103, 103, 103, 0.6);
}

h1, h2 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
    color: black;
}

h2 {
    padding-bottom: 15px;
}


/* Navbar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;  
}    

.nav-links a {
    color:  black;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 20px;
}

.menu li {
    padding: 5px 15px;
    list-style: none;
}

.menu li:hover  {
    background-color: white;
    opacity: 0.1;
}

#icon {
    display: none;
}


/* hero image and title */



.title {
    width: 500px;
    z-index: 1;
    background-color: none;
    
}

.hero {
    width: 100%;
    max-height: 1440px;
    height: auto; 
}


/* Discover, Explore Section */

 #disc {
    padding: 10px 20px 10px 20px; 
}   

#explore {
    padding: 10px 20px 10px 20px; 
} 

.border{
    
    border-style: double;
    border-color: black;
    border-width: thick;
    margin-left: 20px;
    margin-right: 20px; 
}

.about {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px 30px 20px 30px;
}


/*media*/

@media screen and (max-width: 600px) {
    
    /* Nav Bar Media */
    #navbar {
     justify-content: left;   
    }
    
/* Drop Down Menu */

    #icon {
        display:flex;
        flex-direction: row;
    }

    .hidden {
        display: none;
        position: absolute;
        background-color: RGBA(103, 103, 103, 0.6);
        min-width: 100px;
        text-decoration: none;    
    }

    .hidden a {
        text-decoration: none;
        color:black
    }
    
    .hidden li {
        list-style: none;
    }

    #icon:hover .hidden {display: block;}
    
    /* Full Size Menu */

    .menu {
        flex-direction: column;
        justify-content: left;
        font-size: 22px;
        gap: 5px;
        display: none;
    }



    /* About Sction Media */

    .about {
        flex-wrap: wrap;
        font-size: 22px;
    }

    
}