@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rokkitt:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: rokkitt, sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
}

h1, h2 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
    color: black;
}

/* nav bar */


#menu {
    font-size:inherit;
    font-weight: inherit;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 575px;
    padding-top: 20px;
}


#menu li {
    float: left;
    list-style-type: none;
    text-align: center;
    margin-right: 15px;   
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* hero image */

#hero-outer {
    
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-edit.jpg) no-repeat center center;
    position: relative;
}