@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rokkitt:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: rokkitt, sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: RGBA(103, 103, 103, 0.6);
}

h1, h2 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
    color: black;
}

h2 {
    padding-bottom: 15px;
}


/*nav bar */

#navbord {
    border-style: dashed;
    background-color: aliceblue;
    border-width: thick;
}

#menu {
    position: fixed;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 575px;
    margin-top: 25px;
}    


#menu li {
    float: left;
    list-style-type: none;
    text-align: center;
    margin-right: 15px;
    font-size:inherit;
    font-weight: inherit;    
}


#menu a {
    text-decoration: none;
    color: inherit;
    
}


/* hero image */

#hero {
    
    max-width: 100%;
    height: auto;
}


/* Discover, Explore Section */

#disc {
    float: left;
    width: 30%;
    padding: 10px 20px 10px 20px;
    
}   

#explore {
    float: right;
    width: 30%;
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
}



.border{
    
    border-style: double;
    border-color: black;
    border-width: thick;
    margin-left: 20px;
}



/*media*/

